<main class='main'>
  <div class='main__content'>
    <h1 class='title title--center'>Create</h1>
    <ul class='choose'>
      <a href='/spotify-create'>
        <li class='choose__item'>
          <img
            src='/img/png/choose-1.png'
            alt='choose_1.png'
            class='choose__image'
          />
          <div class='choose__content'>
            <strong class='title'>Playlist</strong>
            <p class='choose__text'>Create playlist with
              songs & episodes
            </p>
          </div>
        </li>
      </a>
      <a href='/spotify-create?isMix=true'>
        <li class='choose__item'>
          <img
            src='/img/svg/choose_2.svg'
            alt='choose_2.svg'
            class='choose__image'
          />
          <div class='choose__content'>
            <strong class='title'>Mix</strong>
            <p class='choose__text'>Combine your style with
              friends</p>
          </div>
        </li>
      </a>
    </ul>
  </div>
</main>