<div class='alert__card'>
  <div class='alert__card__header'>
    <h2 class='alert__card__title'>{{data.message}}</h2>
    <h3 class='alert__card__description'>{{data.info}}</h3>
  </div>
  <div class='alert__card__button'>
    <a href='{{data.link}}'>До списку товарів</a>
  </div>
</div>