<div class='alert'>
  <div class='alert__card'>
    <div class='alert__text'>
      <div class='alert__card__title'>{{title}}</div>
      <div class='alert__card__description'>{{info}}</div>
    </div>
    <div class='alert__card__actions'>
      <a
        href='./product-list'
        class='alert__card__actions__link'
      >До списку товарів</a>
    </div>
  </div>
</div>