@use '../../lib/service.scss' as service;
body {
  font-family: 'Roboto', sans-serif;
}
.form {
  display: flex;
  flex-direction: column;
  padding: service.space(4);
  gap: service.space(8);

  &__title {
    font-size: service.space(5);
    font-weight: bold;
    border-bottom: 1px solid service.color('light');
    padding-bottom: service.space(1);
  }
  &__content {
    display: grid;
    gap: service.space(6);
  }
  &__field {
    display: flex;
    flex-direction: column;
    gap: service.space(2);
  }
  &__label {
    font-size: service.space(3);
    font-weight: bold;
  }
  &__input {
    padding: service.space(2);
    border: 1px solid service.color('light');
    border-radius: 4px;
    font-size: service.space(3);
  }
  &__button {
    padding: service.space(2);
    border: 1px solid service.color('light');
    border-radius: 20px;
    font-size: service.space(3);
    font-weight: bold;
    cursor: pointer;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: service.space(10);
}

.user-list {
  li {
    padding: 5px 15px 5px;
  }
}
