<main>
  <section>
    <div class="form">
      <h1 class="form__title">Список товарів</h1>
      <div class="product">
        {{> product-card}}
      </div>
    </div>
    <button class='return'>
      <a href='/product-create'>Створити товар</a>
    </button>
  </section>
</main>